<div class = "page-header"><h1>Groups in {{classID}}</h1></div>


<ul  class="list-group">

  <li class="list-group-item" *ngFor="let group of data">

    <p>Group Name: {{group.GroupID}}</p>

    <button  (click)="saveID(student.StudentID,student.Groups)" class= "btn btn-primary" routerLink ="editstudents"  role ="button" style ="font-size:x-large">View</button>
  </li>

</ul>
<button class="btn btn-primary btn-circle btn-lg" (click)="show()"><i class="glyphicon glyphicon-plus-sign"></i></button>
<div *ngIf="showing">
  <app-make-groups [currClass]="classID" (test) = "change($event)"></app-make-groups>
</div>
